version: "2.1"
services:
  duplicati:
    image: lscr.io/linuxserver/duplicati:latest
    container_name: duplicati
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/Paris
      - CLI_ARGS= #optional
    volumes:
      - /home/pi/docker/duplicati/config:/config
      - /home/pi/docker/duplicati/backups:/backups
      - /home/pi/docker:/source
    ports:
      - 8200:8200
    restart: unless-stopped

    labels:
      - diun.enable=true diun.enable=true