version: '3'

services:
  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:latest
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - "/home/pi/docker/mosquitto/config:/mosquitto/config"
      - "/home/pi/docker/mosquitto/data:/mosquitto/data"
      - "/home/pi/docker/mosquitto/log:/mosquitto/log"
    restart: unless-stopped

    labels:
      - diun.enable=true    