version: "3.7"
services:
  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    restart: unless-stopped
    ports:
      - "9999:8080"
    volumes:
      - /home/pi/docker/searxng:/etc/searxng:rw
    environment:
      - SEARXNG_BASE_URL=http://localhost:9999/
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped   